<h1>Accountr Info</h1>
<a href="{{ url_for('index') }}">Home</a>
<a href="{{ url_for('login') }}">Login</a>
<a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
<a href="{{ url_for('logout') }}">Logout</a>

    <div><img src="{{ profile_pic }}"></div>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {% if current_user.privacy %}
                {{ form.privacy.label }}<br>
                {{ form.privacy() }}<br>
            {% else %}
            make my account private<br>
            {{ form.privacy() }}<br>
            {% endif %}


             
        </p>
        
        <p>
            {{ form.profile_pic.label }}<br>
            {{ form.profile_pic() }}<br>
            {% for error in form.profile_pic.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>