<table>
    <tr valign="top">
        <td><img src="{{ user_profilePic }}"></td>
        <td><h1>User: {{ user.username }}</h1></td>
        <td><h1>join in: {{ user.joinDate }}</h1></td>
        {% if user == current_user %}
        <td><a href="{{ url_for('account') }}">Account Info</a></td>
        {% endif %}
        
    </tr>
</table>
<p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
{% if user != current_user  %}
    {% if not current_user.is_following(user) %}
        {% if not current_user.requested_to_follow(user) %}
            <p>
                <form action="{{ url_for('follow', username=user.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Follow') }}
                </form>
            </p>
        {% else %}
            <p>
                <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='cancel request') }}
                </form>
            </p>
        {% endif %}
    {% else %}
    <p>
        <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.submit(value='Unfollow') }}
        </form>
    </p>
    {% endif %}
{% endif %}
<hr>
{% for post in posts %}
<p>
{{ post.author.username }} says: <b>{{ post.body }}</b>
</p>
{% endfor %}